* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #001d6d;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5%;
    background-color: white;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.link_menu {
    margin: 2%;
    font-size: 120%;
    font-weight: bold;
}

.text {
    width: 50%;
    text-align: justify;
    font-size: 110%;
    text-indent: 3%;
}

.title {
    margin: 2%;
    font-size: 120%;
    text-align: center;
    font-weight: bolder;
}

.img_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

img {
    margin: 1%;
    width: 50%;
    outline: 1px solid #000;
}
