* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #001d6d;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5%;
    background-color: white;
}

#title {
    width: 80%;
    color: #001d6d;
    font-size: 200%;
    text-align: center;
    font-weight: bolder;
    /*    line-height: 0.5;*/
}

#title > p {
    margin: 1%;
}

#line1 {
    size: 4;
    color: #001d6d;
    width: 100%;
}

#text1 {
    text-indent: 3%;
    font-size: 110%;
    text-align: justify;
}

#img_map,
#logo_img {
    width: 100%;
    height: 100%;
}

.title1 {
    color: #001d6d;
    font-size: 120%;
    text-align: center;
    font-weight: bold;
}

#menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*    flex-wrap: nowrap;*/
    white-space: nowrap;
}

.link_menu {
    margin: 2%;
    font-size: 120%;
    font-weight: bold;
}

.link_menu > a {
    width: 100%
}

#document {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.doc_img {
    margin: 2%;
    outline: 1px solid #000;
}

.link {
    width: 50%;
    font-size: 110%;
    color: blue;
    text-align: center;
}

@media screen and (min-width: 800px) {
    #text1 {
        width: 60%;
    }

    .doc_img {
        width: 50%;
    }

    #logo {
        width: 30%;
    }

    #title {
        font-size: 200%;
    }
}

@media screen and (max-width: 800px) {
    #text1 {
        width: 80%;
    }

    .doc_img {
        width: 80%;
    }

    #document {
        flex-wrap: wrap;
    }

    #logo {
        width: 50%;
        margin: 5%;
    }

    #title {
        font-size: 150%;
    }
}
}
